<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <services>
      <configurator patch:after="configurator[@type='Sitecore.ListManagement.Services.DependencyInjection.CustomServiceConfigurator, Sitecore.ListManagement.Services']"
        type="Sitecore.Support.ListManagement.Services.DependencyInjection.OverrideSegmentRepositoryConfigurator, Sitecore.Support.306469" />
    </services>
  </sitecore>
</configuration>